# Runtime data
*.pid

# Dependency directories
node_modules/

# dotenv environment variable files
.env
!.env.example
.venv

# vscode
.vscode/

#builds
dist/
build/

#cache
__pycache__

debug_creds.js

.github
windows-build.sh
windows-upload.sh
yarn.lock