<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Join</title>
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-dark-bg text-white h-screen flex flex-col overflow-hidden">
	<header class="bg-dark-bg border-b border-gray-700 px-4 sm:px-6 py-4 flex-shrink-0">
		<div id="logout"></div>
	</header>

	<div class="bg-dark-card p-6 rounded-lg shadow-md w-80 mx-auto my-auto">
		<h2 class="text-2xl font-bold mb-6 text-center text-turkuazz">Join</h2>
		<div>
			<div class="mb-4">
				<label for="roomid" class="block mb-2 font-semibold text-turkuazz">Room join id</label>
				<input type="text" id="roomid" name="roomid" required class="w-full p-2 border border-dark-hover rounded-md bg-dark-bg text-white">
			</div>
			<div class="mb-4">
				<label for="password" class="block mb-2 font-semibold text-turkuazz">Password</label>
				<input type="password" id="password" name="password" required class="w-full p-2 border border-dark-hover rounded-md bg-dark-bg text-white">
			</div>
			<button id="send-join" type="button" class="w-full p-2 bg-turkuazz text-dark-bg rounded-md hover:bg-dark-turkuazz">Join</button>
		</div>
	</div>
</body>
<script src="../assets/js/headers/header.js" defer></script>
<script src="../assets/js/config-modal.js" defer></script>
<script>
	document.addEventListener("DOMContentLoaded", async () => {
		const sendJoinEl = document.querySelector("#send-join")
		const roomidEl = document.querySelector("#roomid")
		const passwordEl = document.querySelector("#password")

		let ROOM_ID
		let ROOM_PSW
		const checkRoom = async (roomid, roompsw) => {
			console.log("joining in..")
			sendJoinEl.disabled = true
			roomidEl.disabled = true
			passwordEl.disabled = true
			const r = await window.electronAPI.setRoomCreds(roomid, roompsw)
				.then(async (r) => {
					if (r) {
						await window.electronAPI.gotoIndex()
						return true
					} else {
						sendJoinEl.disabled = false
						roomidEl.disabled = false
						passwordEl.disabled = false
						console.log("could not join.")
						return false
					}
				})
				.catch((error) => {
					console.log("could not join:", error)
					sendJoinEl.disabled = false
					roomidEl.disabled = false
					passwordEl.disabled = false
					return false
				})

			return r
		}
		(async () => {
			await window.electronAPI.getRoom().then((r) => {
				if (r === false) { 
					console.log("there is no room.")
					return 
				}
				console.log("there is room.", r)
				ROOM_ID = r.room
			})
			console.log(ROOM_ID)
			if (ROOM_ID) {
				console.log("already have room, redirecting to index")
				await window.electronAPI.gotoIndex()
			}
		})()

		sendJoinEl.addEventListener("click", async () => {
			if (roomidEl.value) {
				await checkRoom(roomidEl.value, passwordEl.value)
			}
		})

		roomidEl.addEventListener("keypress", async (event) => {
			if (event.key === "Enter" && roomidEl.value) {
				await checkRoom(roomidEl.value, passwordEl.value)
			}
		})

		passwordEl.addEventListener("keypress", async (event) => {
			if (event.key === "Enter" && roomidEl.value) {
				await checkRoom(roomidEl.value, passwordEl.value)
			}
		})
	})
</script>
</html>
